body {
}

/* headers */
h1 {
	font-size: 200%;
	font-weight: none;
	border-bottom: solid 1px #D0D0D0;
}

h2 {
	font-size: 120%;
	font-weight: none;
	border-bottom: solid 1px #D0D0D0;
	padding: 0.25em;
}

h3 {
	font-size: 100%;
	font-weight: bold;
	padding: 0.25em;
}

h4 {
	font-size: 100%;
	font-weight: bold;
	border-bottom: solid 1px #D0D0D0;
	margin-left: 1em;
	padding: 0.25em;
}

h5 {
	font-size: 90%;
	font-weight: bold;
	border-bottom: solid 1px #D0D0D0;
	margin-left: 3em;
	padding: 0.25em;
}

h6 {
	font-size: 80%;
	font-weight: bold;
	border-bottom: solid 1px #D0D0D0;
	margin-left: 6em;
	padding: 0.25em;
}

p {
	margin-left: 3em;
	margin-right: 2em;
}

ul, ol {
	margin-left: 4em;
	margin-right: 2em;
}


ul ul, ol ul, ul ol, ol ol {
	margin-left: 2em;
}

/* list item */
li.aster {
	list-style-position: outside;
	list-style-image: none;
}

li.plus {
	list-style-position: outside;
	list-style-image: url('plus.png');
}

li.hyphen {
	list-style-position: outside;
	list-style-image: url('hyphen.png');
}

/* table of contents */
ul.table_of_contents
{
	list-style-type: none;
}

/* code list */
pre.code {
	margin-left: 6em;
	padding: 1em;
	background-color: #F0F0F0;
	border: solid 1px #D0D0D0;
}

/* definition list */
dl {
	margin: 1em;
	margin-left: 3em;
}

dl dt {
}

dl dd {
	padding: 0.5em;
	background-color: #F0F0F0;
}

/* block quote */
blockquote {
	margin-left: 3em;
	border-left: solid 8px #F0F0F0;
}

blockquote p {
	margin-top: 1.5em;
	margin-bottom: 1.5em;
	margin-left: 0.5em;
	margin-right: 0.5em;
}

blockquote blockquote {
	margin-top: 1.5em;
	margin-bottom: 1.5em;
	margin-left: 2em;
	margin-right: 0.5em;
}
